@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
body{
	font-family: 'Baloo Bhaina 2', cursive;
	background-color: #eee;

}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.container{
	width: 40%;
	margin:0 auto;
	margin-top: 100px;
}
.container h2{
	color: hotpink;
	position: relative;
	width: 23rem;
}
.container h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 12px;
	width: 67px;
	height: 2px;
	background-color: hotpink;
}
.accordion{
	width: 100%;
	padding: 0 5 px;
	border:2px solid #6db5ff;
	cursor: pointer;
	border-radius: 50px;
	display: flex;
	margin:10px 0;
	align-items: center;

}
.accordion .icon{
margin: 10px 10px 10px 10px;
width: 30px;
height: 30px;
background: url("/img/plus2.jpg") no-repeat 8px 7px #6db5ff;
border-radius: 70%;
float: left;
transition: all .5s ease-in;
}
.accordion h5{
	font-size: 18px;
	margin:0;
	padding: 3px 0 0 0;
	font-weight: bold;
	color: #1f5c9a;

}
.active .icon{
	background: no-repeat 8px -25px white;
}
.active{
	background-color: #6db5ff;
}
.panel{
	padding: 0 15px;
	border-left: 1px solid #6db5ff;margin-left: 25px;
	font-size: 14px;
	text-align: justify;
	overflow: hidden;max-height: 0px;
	transition: all .5s ease-in;
}